{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="call-for-action col-md-10">
            <div class="banner text-center">
                <img src="{% static 'images/banner.jpg' %}" alt="banner" width="90%">
            </div>
            <div class="description text-center my-5">
            <h2 class="main-text mb-4">Welcome to <span class="fw-light text-decoration-underline">BKK Coffee Corner</span>☕</h2>
            <p class="sub-text fs-5">
                We're the go-to community page for coffee lovers and café explorers in Bangkok. Whether you're an experienced coffee enthusiast or just starting your journey, this is the place for you.Here, you can read reviews, share experiences, and dive into all things coffee. We aim to create a welcoming space for everyone.
                Join us on a caffeinated adventure—discover hidden gems, share your finds, and stay updated with the latest coffee trends. BKK Coffee Corner is more than a page—it's a community for those who love coffee and exploring new places. Let's celebrate the joy of coffee together!   
            </p>
        </div>
        </div> <hr>
        <!-- Post all Cafes section -->
        <div id="reviews" class="row">
            <div class="text-center my-5">
                <h2 class="main-text">Latest Cafe <span class="fw-light text-decoration-underline">Reviews</span></h2>
            </div>
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/cafe1.jpg' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                alt="{{ post.cafename }}">
                                {% endif %}
                                <div class="image-flash"></div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link main-text">
                                <h2 class="card-cafename mt-4">{{ post.cafename }}</h2>
                            </a>
                            <p class="card-text sub-text">{{ post.excerpt }}</p>
                            <p class="card-text sub-text"><i class="fa-solid fa-star"></i> 5.0</p>
                            <a href="{% url 'post_detail' post.slug %}" class="card-text sub-text post-link"><i class="fa-solid fa-mug-hot"></i>  Reviews</a>
                            <hr />
                            <p class="card-text sub-text text-muted h6">{{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- Create pagination to make lists of content manageable(Credit by I Think Therefore I Blog: CL Project) -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link sub-text">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link sub-text"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
