{% extends "base.html" %} 

{% load static %} 

{% block content %}

<div class="container-fluid">
  <div class="row">
    <h2 class="main-text my-4 text-center">Forum <span class="fw-light text-decoration-underline">let's talk!</span></h2>
    <div class="banner text-center mb-4">
      <img src="{% static 'images/banner.jpg' %}" alt="banner" width="90%">
  </div>

      {% for forum in object_list %}
      <div class="row justify-content-start">
        <a href="{% url 'forum-detail' forum.slug %}" class="forum-link">
        <h4 class="main-text">{{forum.title}} ... <i class="fa-regular fa-comments fs-5"></i></h4>
        <p>by: {{forum.author}} | {{forum.created_on}} </p></a>
        {% if user.is_authenticated and forum.author == user %}
        <a class="forum-link btn-sm px-4" title="Edit" href="{% url 'forum-edit' forum.id %}"><i class="fa-solid fa-pen"></i></a>
        {% endif %}
        <hr>
      {% endfor %}
      </div>
  </div>

  <!-- Create new forum here -->
  <div class="row justify-content-center my-4">
    <a href="{% url 'new-forum' %}" class="forum-link text-end">
    <p class="main-text">Create new topic here <i class="fa-solid fa-plus"></i></p></a>
</div>


{% endblock %}
