/* CSS varieables */
:root {
    --primary-font: 'Lora', sans-serif;
    --secondary-font: 'League Spartan', serif;
    --nav-color: #daccba;
    --background-color: #fff;
    --text-color: #3b2621;
    --text-hover-color: #5a4540;
    --button-bg-color: #7a003c;
    --button-text-color: #fff;
    --button-hover-color: #ae6087;
}

/* Global styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding-top: 120px;
}


/* Navigation bar */
.logo {
    max-width: 200px;
}
.navbar {
    background-color: var(--nav-color);
    color: var(--text-color);
    font-family: var(--primary-font);
}
.nav-item {
    padding: 0 10px 0 10px;
}
.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
}
.nav-link:hover {
    color: var(--text-hover-color);
    text-decoration: underline;
}
.navbar-toggler-icon {
    color: var(--text-color);
    font-size: 1.5rem;
}
.search-icon:hover {
    color: var(--text-hover-color);
}


/* Block Content */
.about-img {
    width: 100%;
    max-width: 400px;
    height: auto;
}
.main-text {
    font-family: var(--primary-font);
    font-weight: 700;
}
.sub-text {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}
.main-text, .sub-text {
    color: var(--text-color);
}
.forum-link {
    color: var(--text-color);
}
.post-link, .forum-link{
    text-decoration: none;
}
.post-link:hover, .forum-link:hover {
    text-decoration: underline;
    color: var(--text-hover-color);
}
.post-info {
    font-family: var(--secondary-font);
    color: var(--text-color);
}
.page-link, .submit-btn {
    border: 1px solid var(--button-bg-color);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border-radius: 20px;
    padding: 10px 20px;
}
.page-link:hover, submit-btn:hover {
    border: 1px solid var(--button-hover-color);
    background-color: var(--button-hover-color);
    color: var(--button-text-color);
}
.error {
    font-size: 5rem;
}




/* Footer */

#footer {
    background-color: var(--nav-color);
}

.social-links a {
    color: var(--text-color);
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
}

.social-links a:hover {
    color: var(--text-hover-color);
}